# Server
PORT=8000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=oma

# Shopify
SHOPIFY_WEBHOOK_SECRET=your_webhook_secret_here

# PDF
PDF_STORAGE_PATH=./generated-pdfs

# Socket.IO
SOCKET_CORS_ORIGIN=http://localhost:3000
